@model DeleteUserModel
@{
    ViewData["Title"] = "Итриване на служител";
}

<h2>Изтриване</h2>

<h4>Сигурни ли сте, че искате да изтрите @string.Concat(Model.FirstName, " ", Model.LastName).</h4>
<form method="post" asp-area="Admin" asp-controller="User" asp-action="Destroy">
    <input type="hidden" asp-for=@Model.Id/>
    <button type="submit" class="btn btn-danger">Да</button>
    <a class="btn btn-success" href="/Admin">Не</a>
</form>


