
@{
    ViewData["Title"] = "Репертоар";
}

<h2>@ViewData["Title"]</h2>

<a style="margin-left: 61.5px" href="/">
    <img src="~/img/green-back-button-icon-65921.png" width="30" />
</a>

<h2>
    <a href="#requirement" style="padding-top:30px;
                           margin-left: 61.5px; 
                           color: yellow;
                           text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                           text-decoration: none;">
        Условия за посещения в училище
    </a>
</h2>

<h1 style="margin-left: 61.5px">@ViewData["Title"]</h1>
<div class="container">
    <h2>Първи клас</h2>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Защо е важно да се ходи на училище</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    Пчеличката Жужи става танцова звезда, но напуска училището. Случват й се много  неприятни неща и тя бързо разбира какво е загубила заради това, че не посещава училището за пчелички....Започва да ходи отново на училище и вече е убедена колко е важно да учи.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Какво е устройството на зъбите и как да се грижим за тях</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    Няколко кариеса завладяват едно зъбче, но то с помоща на зъболекаря се научава как да ги прогони и как да се грижи за здравето си.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Как, кога и  от кого са измислени цифрите</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    Историята е интересна, защото се развива в далечното минало, когато древни учени са измисляли как да изглеждат цифрите.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">По какво се различават буквите в азбуката</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    Шоуто е забавно и много напрегнато, защото буквите участват в конкурс за песни. Показват какви звуци изобразяват и колко са уникални. Кой ще спечели Х факторът?
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Защо има пътни знаци и как безопасно се преминават улиците в града</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    Двама много забавни герои  показват как се живее в града и как се е създал този толкова забързан градски начин на живот. Те и децата разбират   колко е важно да се придвижваме в града не само бързо, но и безопасно.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Как децата да се справят с физическата агресия в училище</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    Две петлета се борят за надмощие, но едното е много агресивно и започва бой, който довежда до много неприятни последици. Подобни случки се разиграват и в едно училище. Децата научават как да се опитват да предотвратяват лошите последици от физическата агресия...Спектакъл с активното  участие на децата.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Защо и как децата да влизат в сценични и житейски  роли</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    На сцената ще излязат актьори и деца и ще изиграят сцени, ще анализират поведение, ще достигнат до твърдения, които ще им помагат в трудни ситуации...Костюмите , ролите и музикалното оформление ще помагат на всички!
                </div>
            </div>
        </div>
        <h2>Втори клас</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Пет защитени растения  в България и как да ги опазим</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    Двама приятели  ще търсят пет защитени растения заради проект, който е богато финансиран. Ще преминат през много препятствия, за да ги открият. Кой от двамата ще спечели проекта? Ще разберете и кои са тези толкова редки растения, за които се борят.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Какво правят добрите стопани за домашните си любимци</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    Палаво куче и красива котка са участници в конкурс за „Най-симпатичен домашен любимец“. Трябва да усвоят обаче добри хигиенни навици и да имат умения, които да ги изстрелят на върха. Децата ще им помогнат в обучението и ще ги подготвят, но ...кой ще е победителят и защо?
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Как се пречиства водата, за да може да се пие от хората</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    Много опасна бактерия живее във водата. Как да бъде отстранена, за да може хората спокойно да пият вода от водопроводната система? Ще се проведат няколко експеримента и децата ще научат за единствения възможен начин да се унищожи бактерията.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Как се свързват хората на далечни разстояния преди и след откриването на телефона</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    Индианци, римляни, древни хора и откриватели ще предават важни съобщения по различен начин- чрез огледала, силни звуци, писма и жици. Най-накрая ще се стигне до днешно време, когато си предаваме съобщения непрекъснато...но винаги има някакъв проблем! Какъв е той ще разберат децата.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Как по движението на  Слънцето, Земята и  Луната се определя времето</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    Един странен човек ще отвори странен магазин, в който ще продава...минути, часове, години. Ще продаде дори планетите от Слънчевата система, но децата ще научат как хората са решили, че тече времето. Ще могат да го демонстрират чрез планетите Земя, Луна и Слънцето ,разбира се, което е звезда!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Как децата да се справят с вербалната агресия </a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                    Дърварят и мечката ще се срещнат в гората и от приятели ще станат неприятели заради лошите думи. Подобно нещо  ще се случи и в едно училище, заради лоши думи между две деца. Какво да правим, за да се защитим от вербалните агресори? Сложен въпрос, но ние заедно намираме някои отговори...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Как и защо децата да  променят ролевото си  поведение</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    На сцената ще излязат актьори и деца и ще изиграят сцени, ще анализират поведение, ще достигнат до твърдения, които ще им помагат в трудни ситуации...Костюмите , ролите и музикалното оформление ще помагат на всички!
                </div>
            </div>
        </div>
        <h2>Трети клас</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">Какво научаваме от  географските карти на Света, Европа и България</a>
                </h4>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                    Двама приятели ще обиколят целия свят и ще се върнат в България. Те ще искат да опитат от всичко и да опознаят много култури. Децата ще им помогнат и ще разберат забавни и важни неща от картите на света, Европа и България.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">Защо и как да  се преподават в училище знания за  човешкото тяло</a>
                </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                    Обявен е конкурс за асистент по анатомия на човешкато тяло и двама приятели се явяват на него, за да го спечелят.  Единият преподава  строго като говори и обяснява с думи , а другият иска преподаването да е забавно и показва всичко на децата. Кой ще спечели конкурса ще решат децата след като гледат презентациите на двамата.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">Има ли живот на планетите от Слънчевата система</a>
                </h4>
            </div>
            <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body">
                    Ще се търси, ще се преодолява гравитацията и ще се лети между планетите, за да разберем всичко за тях и за живота . Дали ще открием вода, бактерии или хора?
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">Защо и как се анализират литературни произведения</a>
                </h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                    Да влезеш в роля и да я изиграеш по различни начини. А как изглежда през погледа на другите? Това е предизвикателство, което заедно ще си го причиним и преодолеем.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">Кои са признаците на измамата и как децата да се справят с измамниците</a>
                </h4>
            </div>
            <div id="collapse19" class="panel-collapse collapse">
                <div class="panel-body">
                    Лисицата винаги мами и този път измамата е огромна. Взема яйцата на Косето Босето. Хората измамници ни взимат различни неща и го правят умело...но как да се предпазим? Децата ще научат добри подходи за справяне с измамници.
                </div>
            </div>
        </div>
        <div id="requirement" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">Защо и как децата да усъвършенстват  ролевото си поведение</a>
                </h4>
            </div>
            <div id="collapse20" class="panel-collapse collapse">
                <div class="panel-body">
                    На сцената ще излязат актьори и деца и ще изиграят сцени, ще анализират поведение, ще достигнат до твърдения, които ще им помагат в трудни ситуации...Костюмите , ролите и музикалното оформление ще помагат на всички!
                </div>
            </div>
        </div>
    </div>
</div>
<h1 style="margin-left: 61.5px">Условия за посещения в училище</h1>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Споразумение или договор с училището </li>
        <li class="list-group-item">Абонамент за първи, втори и трети клас. Всяко представление се играе пред не повече от две до три училищни паралелки. Учениците наблюдават по седем представления годишно; включват се в игра, която играят през цялата година и в която получават индивидуални награди за постиженията си. Абонамента се заплаща от родителите на учениците. Предвиждат  се отстъпки за отделни ученици и училището.</li>
        <li class="list-group-item">Единични представления. Провеждат се пред не по-малко от 50 деца. Таксите се заплащат от родителите.</li>
    </ul>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


