@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using FunScience.Data.Models

@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Забавна Наука";
}

<!--Modal box-->
<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content no 1-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center form-title">Вход за потребители</h4>
            </div>
            <div class="modal-body padtrbl">

                <div class="login-box-body">
                    <p class="login-box-msg">Влез в профила си от тук.</p>
                    <div class="form-group">
                        <form asp-area="" asp-controller="Account" asp-action="Login" id="loginForm">
                            <style>
                                div.text-danger.validation-summary-errors > ul {
                                    text-align: center !important;
                                    padding-left: 0px !important
                                }
                            </style>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group has-feedback">
                                <!----- username -------------->
                                <input class="form-control" asp-for="Email" placeholder="Email" id="loginid" autocomplete="off" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <span style="display:none;font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginid"></span>
                                <!---Alredy exists  ! -->
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <!----- password -------------->
                                <input class="form-control" asp-for="Password" placeholder="Парола" id="loginpsw" type="password" autocomplete="off" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginpsw"></span>
                                <!---Alredy exists  ! -->
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox" id="loginrem"> Запомни ме
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-green btn-block btn-flat">Влез</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Modal box-->
<!--Banner-->

<div class="banner"></div>

<!--/ Banner-->
<!--Feature-->
<section id="feature" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Театър „Забавна наука“</h2>
                <p>
                    Театър „Забавна наука“ е създаден през 1995 година. като Образователен театър от  доц. д-р Рада Василева, преподавател във факултета по Педагогика на Софийския университет „Св. Климент Охридски“ и театралния режисьор Съни Сънински.
                    Театър „Забавна наука“ е независима театрална организация, която продуцира и разпространява авторски образователни спектакли на сцената на училищата в София и страната. Образователните представления са предназначени за ученици от начален курс на обучение. Техните цели са насочени към подобряване на качеството на обучение по всички учебни предмети чрез драма методи на обучение.
                    Моделът на обучение, създаден от  Театър „Забавна наука“ се изучава като самостоятелна учебна дисциплина в бакалавърските програми на Факултета  по Педагогика.
                    Всяка година студенти и докторанти провеждат различни научни изследвания, които анализират  постиженията му в обучението и възпитанието на учениците.
                    Театърът е обучаваща организация за студенти по Педагогика и Неформално образование от Софийския Университет „Св. Кл. Охридски“.
                    Образователен театър  е член на Центърът за изследвания и иновации в областта на неформалното образование към Софийския университет  „Св. Кл. Охридски“.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="header-section text-center">
                <h2>Драма училище (Drama School)</h2>
                <p>
                    Драма училището на театър „Забавна наука“ предлага различни дейности с арт насоченост:
                </p>
            </div>
            <style>
                .fea div{
                    padding-top: 10px;
                }
            </style>
            <div class="feature-info">
                <div class="fea">
                    <div class="col-md-12">
                        <div class="heading pull-right">
                            <h4>Tеатрална школа за начинаещи и напреднали.</h4>
                        </div>
                        <div class="fea-img pull-left">
                            <i class="fa fa-ravelry"></i>
                        </div>
                    </div>
                </div>
                <div class="fea">
                    <div class="col-md-12">
                        <div class="heading pull-right">
                            <h4>Обучение по английски език чрез драма методи на обучение.</h4>
                        </div>
                        <div class="fea-img pull-left">
                            <i class="fa fa-language"></i>
                        </div>
                    </div>
                </div>
                <div class="fea">
                    <div class="col-md-12">
                        <div class="heading pull-right">
                            <h4>Партита за рождени дни и специални събития.</h4>
                        </div>
                        <div class="fea-img pull-left">
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                    </div>
                </div>
                <div class="fea">
                    <div class="col-md-12">
                        <div class="heading pull-right">
                            <h4>Тренинги и драма уроци за формиране на социални, поведенчески  и комуникативни умения</h4>
                        </div>
                        <div class="fea-img pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="fea">
                    <div class="col-md-12">
                        <div class="heading pull-right">
                            <h4>Обучение на учители за следдипломна квалификация по специални програми в областта на драма и арт обучението.</h4>
                        </div>
                        <div class="fea-img pull-left">
                            <i class="fa fa-trophy"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bottom-line">
    </div>
</section>
<!--/ Feature-->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


