@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Промяна на парола";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h2>@ViewData["Title"]</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <div class="col-md-10">
        <form class="form-horizontal" method="post">
            <fieldset>
                <div class="form-group">
                    <div style="text-align: center" asp-validation-summary="All" class="text-danger"></div>
                    <label class="col-md-4 control-label" asp-for="OldPassword"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-key fa-fw">
                                </i>
                            </div>
                            <input class="form-control input-md" placeholder="Парола" asp-for="OldPassword">
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" asp-for="NewPassword"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-key fa-fw">
                                </i>
                            </div>
                            <input class="form-control input-md" placeholder="Нова Парола" asp-for="NewPassword">
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" placeholder="Нова Парола" asp-for="ConfirmPassword"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-key fa-fw">
                                </i>
                            </div>
                            <input class="form-control input-md" placeholder="Нова Парола" asp-for="ConfirmPassword">
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Промени паролата</button>
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

