
@{
    ViewData["Title"] = "Драма уроци";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Драма урок за първи клас “Истинското знание“</h2>
                <p>
                    Децата се обучават в импровизирана драма класна стая. Ще участват в серия от драматизации със специално образователно съдържание от програмата за първи клас. Интегрирани са знания от различни учебни предмети.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Времетраене: Aкадемичен час от 75 минути</p>
                    Брой участници: една училищна паралелка
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Драма урок за втори клас „Освободеното знание“</h2>
                <p>
                    Децата се обучаватт в импровизирана драма класна стая. Ще участват в драматизация със специално образователно съдържание от програмата за втори  клас. Интегрирани са знания от различни учебни предмети.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Времетраене: Aкадемичен час от 75 минути</p>
                    Брой участници: една училищна паралелка
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Драма урок за трети клас „ Тайната на знанието“ </h2>
                <p>
                    Децата се обучават в импровизирана драма класна стая. Ще участват в серия от драматизации със специално образователно съдържание от програмата за трети клас. Интегрирани са знания от различни учебни предмети.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Времетраене: Aкадемичен час от 75 минути</p>
                    Брой участници: една училищна паралелка
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Драма урок за четвърти клас „ Силата на знанието“</h2>
                <p>
                    Децата се обучават в импровизирана драма класна стая. Ще участват в серия от драматизации със специално образователно съдържание от програмата за четвърти клас. Интегрирани са знания от различни учебни предмети.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Времетраене: Aкадемичен час от 75 минути</p>
                    Брой участници: една училищна паралелка
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>
