
@{
    ViewData["Title"] = "Празнични представления";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Коледно шоу</h2>
                <p>
                    В Коледното шоу ще гледате весело представление, в което Елфите, Джуджетата, Снежанка и Дядо Коледа ще ви забавляват до пълно полудяване от смях. Ако искате можете да си поръчате и подарък, който ще ви бъде изработен в работилницата на добрия старец.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Минимален брой деца: 35</p>
                    Продължителност: 1 час, 1 час и половина или два часа.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">10 / 14 / 18 лв. на дете</span>
                    </div>

                    Място на провеждане: В училище или в залата „ Drama school”
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Празник на буквите</h2>
                <p>
                    Ще има  специално представление, весели образователни игри, забавно четене и разбира се танци на бала на Буквите.Ако искате можете да си поръчате и подарък, който ще ви бъде изработен в работилницата на Забавна наука.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Брой деца: Една училищна паралелка</p>
                    Продължителност: 1 час, 1 час и половина или два часа.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">10 / 14 / 18 лв. на дете</span>
                    </div>

                    Място на провеждане: В училище или в залата „ Drama school”
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Тържествено завършване на учебната година</h2>
                <p>
                    Ще има  образователно представление, весели учебни игри, забавно състезателно четене и смятане и разбира се танци. Децата ще бъдат облечени в  тоги и с колежански шапки . Всяко дете ще получи арт диплом от театър „Забавна наука“. Ако искате можете да си поръчате и подарък, който ще ви бъде изработен в работилницата на Забавна наука.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Брой деца: Една училищна паралелка</p>
                    Продължителност: 1 час, 1 час и половина или два часа.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">10 / 14 / 18 лв. на дете</span>
                    </div>

                    Място на провеждане: В училище или в залата „ Drama school”
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>

