
@{
    ViewData["Title"] = "Частно парти";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Частно парти / рожден ден или друг празничен повод/</h2>
                <p>
                    Можете да поръчате за гостите на частното ви  парти образователно представление, драма урок,  тренинг или нещо друго от дейността на театър „Забавна наука“ или Drama school. Ще обсъдим с вас идеята и ще я интегрираме в организацията на партито.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Условия за провеждане: Група от максимум 15 човека.</p>
                    <p>Продължителност:  90 минути.</p>
                    Водещи: Екип от театър „Забавна наука“
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    Забележка : Храна, напитки и подаръци се осигуряват след допълнително договаряне.
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Наем зала</h2>
                <p>
                    Залата е оборудвана за провеждане на професионални и аматьорски  театрални представления, обучения и други групови и индивидуални дейности. Разполага със сцена с професионално сценично осветление, озвучаване и мултимедийно презентиране. Пространството може да се аранжира по различен начин с маси за групова работа и столове за максимум 50 човека.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <div class="pricing-head">

                        <span class="amount">20 лв.</span>
                        <h4>Цена за 1 час</h4>

                        <span class="amount">45 лв.</span>
                        <h4>Цена за три часа</h4>

                        <span class="amount">80 лв.</span>
                        <h4>Цена за един ден / 8 часа/ </h4>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>