
@{
    ViewData["Title"] = ">Научни статии";
}

<h2>@ViewData["Title"]s</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h1>Научни статии и публикации</h1>
                <br />
                <hr />
                <br />
                <ol>
                    <li><a style="color: black !important;; font-weight: bold !important;" href="https://drive.google.com/file/d/0B7K6Mu5nYwWndzgtTFVFZjdfWUQyYVNMYS1CUXFVT3dCR2d3/view?usp=sharing">Нови идеи в образованието породени от Хосе Ортега-и-Гасет</a></li>
                    <li><a style="color: black !important;; font-weight: bold !important;" href="https://drive.google.com/file/d/0B7K6Mu5nYwWnb2FSb1F6X04ya1NmNVFUOURVRTVyVE92QW40/view?usp=sharing">Образователните комикси – проекти и изследвания</a></li>
                    <li><a style="color: black !important;; font-weight: bold !important;" href="https://drive.google.com/file/d/0B7K6Mu5nYwWnN0ZZY1hiamFZN1hhVU50dHlYV1A1TU11VVJR/view?usp=sharing">Образователен театър на сцената на неформалното образование в България</a></li>
                    <li><a style="color: black !important;; font-weight: bold !important;" href="https://drive.google.com/file/d/0B7K6Mu5nYwWnZDJtaHRmTzUzSDRWMDYyR0lJU2kxNEt2cEJR/view?usp=sharing">Стратегии за организиране на диференцирано обучение</a></li>
                    <li><a style="color: black !important;; font-weight: bold !important;" href="https://drive.google.com/file/d/0B7K6Mu5nYwWnS0pyTDlhaTlRS3VTS2lpaWFmTEFGMkJJNUVj/view?usp=sharing">Идеи за познавателния потенциал на ролевите игри</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

