
@{
    ViewData["Title"] = "Обучение на учители";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Обучение в артистични умения за учители и присъждане на сертификат Драма учител -Основно ниво.</h2>
                <p>
                    Обучението продължава 12 часа, които са разположени в 3 компонента:
                    Представяне на есе по задача, дадена от водещите на курса;
                    Тренинг в аудиторията на  Drama school в продължение на 4 академични часа и Самостоятелна работа  и представянето й  в един учебен час, който ще се наблюдава, реферира и оцени от водещите на курса.Всеки преминал успешно курса получава диплом за Драма учител- Основно ниво.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Водещи: Актьори от театър „ Забавна наука“и  доц. д-р Рада Василева</p>
                    <p>Група от максимум 15 човека</p>
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">750 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Обучение в драма техники за учители за присъждане на сертификат Драма учител- Майсторско ниво.</h2>

                <ul>
                    Обучението се провежда след успешно завършено обучение в артистични умения за учители и представяне на диплом Драма учител- основно ниво, получено в  Drama school.
                    Обучението продължава 12 часа, които са разположени в 3 компонента:
                    <li>&#8226; Представяне на есе по задача, дадена от водещите на курса</li>
                    <li>&#8226; Тренинг в аудиторията на  Drama school в продължение на 4 академични часа</li>
                    <li>&#8226; Самостоятелна работа  и представянето й  в един учебен час, който ще се наблюдава от водещите на курса.</li>
                </ul>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Водещи: Актьори от театър „ Забавна наука“и  доц. д-р Рада Василева</p>
                    <p>Група от максимум 15 човека</p>
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">750 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>