
@{
    ViewData["Title"] = "Тест - шоу за IV клас";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Шоу програма с теста по Човек и природа</h2>
                <p>
                    Шоуто има за цел да ускори подготовката за националният тест за външно оценяване и да направи учениците по-уверени и спокойни за неговото изпълнение. Учениците ще търсят отговорите на въпросите от теста за четвърти клас като се забавляват. Ще участват в планирана драматизация  и ще направят научен експеримент.
                    Добрият резултат за всяко дете е гарантиран!
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    Времетраене: Един академичен час от 90 минути.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">360 лв.</span>
                    </div>

                    Шоуто се провежда с  една  училищна паралелка.
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Шоу програма с въпросите от теста по Човек и общество</h2>
                <p>
                    Шоуто има за цел да ускори подготовката за теста и да направи учениците по-уверени и спокойни за неговото изпълнение. Учениците ще търсят отговорите на въпроси от теста за четвърти клас като се забавляват. Ще участват в драматизация  и ще направят научен експеримент.
                    Добрият резултат за всички деца е гарантиран!
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    Времетраене: Един академичен час от 90 минути.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">360 лв.</span>
                    </div>

                    Шоуто се провежда с  една  училищна паралелка.
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>

