
@{
    ViewData["Title"] = "Театрална школа";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Школа за начинаещи</h2>
                <p>
                    Школата се ръководи от актьори на Образователен театър „Забавна наука“. Работи се с сценарии, които имат образователни цели. Обучаваните ще представят уникална пиеса, която сами са изградили.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8">
                <div class="price-table" style="text-align:center">
                    <p>Занятията са в Drama school, един път седмично, три академични часа. Денят и часовете се уговарят от групата. По изключение занятията може да се провеждат в училище.</p>
                    Брой участници: Група от 6 до 12 човека.
                    <div class="pricing-head">
                        <h4>Месечна такса</h4>
                        <span class="amount">65 лв.</span>
                    </div>
                    Получават диплом за успешно завършен курс по Educational drama –  level /Образователна драма – първо ниво/
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Школа за напреднали</h2>
                <p>
                    Школата се ръководи от актьори на Образователен театър „Забавна наука“. В нея се включват само участници завършили школата за начинаещи. Младите актьори сами пишат сценария за пиесата, която ще играят.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8">
                <div class="price-table" style="text-align:center">
                    <p>Занятията са в Drama school, един път седмично, три академични часа. Денят и часовете се уговарят в групата. По изключение занятията може да се провеждат в училище.</p>
                    Брой участници: Група от 6 до 12 човека.
                    <div class="pricing-head">
                        <h4>Месечна такса</h4>
                        <span class="amount">65 лв.</span>
                    </div>
                    Получават диплом за успешно завършен курс по Educational drama – Master /Образователна драма- Майсторско ниво/                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
</section>