
@{
    ViewData["Title"] = "Тренинг за ученици";
}

<h2>@ViewData["Title"]</h2>

<section id="pricing" class="section-padding">
    <a style="margin-left: 61.5px" href="/">
        <img src="~/img/green-back-button-icon-65921.png" width="30" />
    </a>
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Тренинг за работа в екип</h2>
                <p>
                    Включени са забавни и предизвикателни игри, проблемни задачи и казуси, групови дискусии, планирана  драматизация и ролева игра, които насочват учениците към идеи за важността на груповата работа за индивидуалното им развитие и успех.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Провежда се с една училищна паралелка.</p>
                    Времетраене: Aкадемичен час от 75 минути.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#pricing" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Тренинг за личностно развитие</h2>
                <p>
                    Учениците играят, дискутират, забавляват се. В сесии по саморефлексия и рефлексия анализират себе си и другите. Научават се да разбират себе си, да защитават личните си интереси  и да са толерантни  към другите.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Брой участници: Провежда се с една училищна паралелка.</p>
                    Времетраене: Академичен час от 75 минути.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Тренинг за решаване на конфликти</h2>
                <p>
                    Провежда се с една училищна паралелка. Учениците участват в ролева игра, която ги насочва към пет различни изхода за решаване на конфликтите. Научават се сами да се справят с възникнали проблеми във взаимоотношенията им с другите.
                </p>
                <hr class="bottom-line">
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="price-table" style="text-align:center">
                    <p>Брой участници: Провежда се с една училищна паралелка.</p>
                    Продължителност от 2 академични часа.
                    <div class="pricing-head">
                        <h4>Цена</h4>
                        <span class="amount">300 лв.</span>
                    </div>
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>
