@{
    ViewData["Title"] = "Отказан достъп";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger" style="text-align: center; font-size:30px;">Нямате права за тази страница.</p>
</header>
