<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Образователен театър забвна наука">
    <meta name="keywords" content="oбразователен театър наука забавна представления обучение преподаватели училища деца парти рожден ден забава">

    <link rel="~/stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/imagehover.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- =======================================================
      Theme Name: Mentor
      Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="home">Забавна Наука</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <!--/ Navigation bar-->

    @RenderBody()

    <!--Footer-->
    <footer id="footer" class="footer">
        <div class="container text-center">
            <a href="https://github.com/ivannedyalkov/FunScience.Web"><span style="">This is open source project.</span> </a>
            <!--<h3>Start Your Free Trial Now!</h3>

    <form class="mc-trial row">
        <div class="form-group col-md-3 col-md-offset-2 col-sm-4">
            <div class=" controls">
                <input name="name" placeholder="Enter Your Name" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-4">
            <div class=" controls">
                <input name="EMAIL" placeholder="Enter Your email" class="form-control" type="email">
            </div>
        </div>

        <div class="col-md-2 col-sm-4">
            <p>
                <button name="submit" type="submit" class="btn btn-block btn-submit">
                    Submit <i class="fa fa-arrow-right"></i>
                </button>
            </p>
        </div>
    </form>

    <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul> -->
          
            <div class="credits">
                <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mentor
    -->
                ©2016 Mentor Theme. All rights reserved. Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
            </div>
        </div>
    </footer>
    <!--/ Footer-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.easing.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/contactform/contactform.js"></script>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>

